@import "tailwindcss";

@theme{
  --color-pavement: #E9E6DE;
  --color-card: #FBFAF7;
  --color-ink: #1C1B1A;
  --color-slate: #6B6862;
  --color-lane: #F2A900;
  --color-lane-ink: #4A3200;
  --color-route: #146B63;
  --color-line: #C9C6BC;

  --font-display: "Big Shoulders", sans-serif;
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  background-color: var(--color-pavement);
  color: var(--color-ink);
} 