* {
    padding: 0;
    margin: 0;
    background-color: #0a0a0f;
}

nav {
    height: 65px;
    background-color: #712cf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:whitesmoke;
    position: sticky;
}

.left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #712cf9;

}

.left div {
    margin-left: 25px;
    background-color: #712cf9;

}

input {
    width: 250px;
    height: 30px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #6426e1;
}

input::placeholder {
    text-align: center;
    color: white;
}

input:hover{
    background-color: #561dc9;
    border: 3px solid rgb(149, 90, 205);
}

input:focus {
    border: 1px solid black;
    background-color: #341179;
    color: white;
}

.right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #712cf9;

}

.right div {
    margin-right: 15px;
    background-color: #712cf9;

}

button {
    height: 35px;
    width: 130px;
    background-color: #712cf9;
    border: 1px solid yellow;
    color: yellow;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(232, 234, 217);
    color: #341179;
    border: 1px solid #341179;
}

.nav-hover:hover{
    color: white;
    font-size: large;
}

.fa-bootstrap {
    font-size: xx-large;
    background-color: #712cf9;
}

.fa-github,
.fa-twitter,
.fa-openai {
    font-size: larger;
    background-color: #712cf9;

}

.hr {
    border: 2px solid black;
    width: 100%;
}


.container {
    display: flex;
}

/*sidebar*/
.sidebar {
    width: 250px;
    min-height: calc(100vh - 70px);
    background-color: #712cf9;
    background-color: #712cf9;
    color: white;
    display: flex;
    flex-direction: column;
    position: static;
}

.sidebar div,
i {
    background-color: #712cf9;
}

main {
    margin-left: 40px;
    width: calc(100vw-250px);
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    margin: 20px 10px 0px 10px;
    width: 350px;
    height: 400px;
    background: white;
    border-radius: 10px;
}