.main{
    display: flex;
    height: 400px;;
    width: 150px;
    justify-content: center;
    flex-wrap:wrap;
    border: 2px solid black;
    /* align-items:first baseline; */
    align-content: space-between;
}

.card1{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.card2{
    height: 100px;
    width: 100px;
    background-color: rgb(30, 111, 155);
        align-self: center;

}
.card3{
    height: 100px;
    width: 100px;
    background-color: rgb(131, 24, 132);
}
